{:source-paths ["src/main" "src/test"],
 :dependencies
 [[reagent "1.2.0"]
  [io.github.nextjournal/markdown "0.5.144"]
  [cider/cider-nrepl "0.30.0"]],
 :dev-http {8080 "public"},
 :builds
 {:app
  {:target :browser,
   :release {:compiler-options {:optimizations :advanced}}
   :devtool {:reload-strategy :full}
   :modules {:main {:entries [app.core]}}}}}
